#
# {{ ansible_managed }}
# 
option domain-name "home.arpa";
option domain-name-servers {{ lan.address }};
option ntp-servers {{ lan.address }};
option smtp-server {{ lan.address }};

subnet {{ lan.net }} netmask {{ lan.mask }} {
	option routers {{ lan.address }};
	range {{ lan.dhcp_start }} {{ lan.dhcp_end }};

{% for ip, v in lan.hosts.items() %}
{% if v.hostname is defined and v.mac is defined %}
	host {{ v.hostname }} {
		hardware ethernet {{ v.mac }};
		fixed-address {{ ip }};
	}

{% endif %}
{% endfor %}
}

