server:
	interface: {{ lan.address }}
	interface: 127.0.0.1
	access-control: {{ [lan.net,lan.mask] | join('/') | ansible.utils.ipaddr('net') }} allow
	do-not-query-localhost: no
	hide-identity: yes
	hide-version: yes
	tls-cert-bundle: "/etc/ssl/cert.pem"

remote-control:
	control-enable: yes

forward-zone:
	name: "."
	forward-tls-upstream: yes               # use DNS-over-TLS forwarder
	forward-first: no                       # do NOT send direct
{% for addr in dns_servers %}
	forward-addr: {{ addr }}
{% endfor %}

